<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
<Fragment>
	<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">

		<Component>
			<File Source="DeploymentChecker.exe" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="DeploymentChecker.dll" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="DeploymentChecker.deps.json" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="DeploymentChecker.runtimeconfig.json" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="Humanizer.dll" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="Spectre.Console.dll" KeyPath="yes" />
		</Component>

		<Component>
			<File Source="Spectre.Console.Ansi.dll" KeyPath="yes" />
		</Component>

	</ComponentGroup>
</Fragment>
</Wix>